<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Контакты
    </title>
    <!--    подключение css-->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css" >
</head>
<body class="p-3 mb-2 bg-light text-dark">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/index.html">На главную</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/form01.html">LM Studio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/form02.html">GPT-4</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contacts.html">Контакты</a>
  </li>
</ul>
<h1>
    Контакты
</h1>
<p>
    <a class="nav-link" href="{{creation_date}}">{{name}}</a>
</p>
<!--    img - картинка-->
<div class="media">
        <img src="/static/IA_icon_02.png" width="512px" class="mr-3">
</div>
<div class="alert alert-success" role="alert">
<p>
    Опытный разработчик всегда посмотрит направо и налево, даже если переходит улицу с односторонним движением
</p>
</div>
</body>
</html>