<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LM Studio</title>
<!--    подключение css-->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css" >

</head>
<body class="p-3 mb-2 bg-light text-dark">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/index.html">На главную</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/form01.html">LM Studio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/form02.html">GPT-4</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contacts.html">Контакты</a>
  </li>
</ul>
    <h1>LM Studio: форма для ввода</h1>
    <!--    form для отправки данных на сервер-->
    <div class="input-group mb-3">
    <form action="results.html" method="post">
<!--        input - поля для ввода данных или кнопки-->
<!--        type - тип поля, value-его значение, placeholder-подсказка-->
        <input type="text" name="query_string" value="" placeholder="строка ввода" class="form-control">
        <br>
        <br>
<!--        submit - кнопка-->
        <p>
        <input type="submit" value="Сгенерировать" class="btn btn-secondary"></p>
    </form>
    </div>
    <hr>

<div class="alert alert-success" role="alert"><p>
    Существует два вида языков программирования: одни – все ругают, другими не пользуются
</p></div>


</body>
</html>